@font-face {
    font-family: 'Bitfals';
    src: url('fonts/BitfalsFont.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheAsesino';
    src: url('fonts/TheAsesino.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: radial-gradient(#398790, #104857);
  overflow-x: hidden;  
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 40px;
  border-radius: 60px;
  background: linear-gradient(60deg,rgb(23, 29, 32),rgb(5, 22, 33));
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: all 0.5s ease;
}
.navbar.sticky {
  top: 0;
  border-radius: 0; /* Remove border-radius when stuck */
  background: rgba(0, 0, 0, 0.5); /* Solid background */
  height: 60px;
}
.con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
.logo{
  font-size: 2rem;
  font-weight: 600;
  color: rgb(234, 238, 241);
  text-decoration: none;
  cursor: grabbing;

}
.con .navbar-menu{
  display: flex;
  text-align: center;
  gap: 1.6rem;
  list-style: none;
  
}

.con .navbar-menu li a {
  text-decoration: none;
  color: rgb(222, 222, 222);
  font-size: 1.3rem;
  font-weight: 900;
  padding: 3px 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all0.7s ease;
}
.con .navbar-menu li a:hover,
.con .navbar-menu li a.active{
  color: rgba(0,0,0,0.8);
  background: rgb(151, 151, 151);
  border: 2px solid rgb(0, 0, 0);
}
.navbar-toggle{
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgb(231, 231, 231);
  transition: all 0.3 ease-in-out;
}
.conw{
  text-align: center; /* Centers the inline-block child */
}
.heading{
  margin: 200px 0 0 0px;
  font-size: 8rem;
   font-family: 'Bitfals', sans-serif;
   color: #ffffff;
   background: black;
   padding: 10px;
}
.scroll-content{
  margin: 20px 0 0 0;
  font-size: 2.5rem;
  white-space: nowrap;
   font-family: 'TheAsesino', sans-serif;

}

.bodyin{
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.re{
  margin-top: 200px;
  font-size: 10rem;
  font-weight: bolder;
  
}
@keyframes scroll{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-50%);
  }
}
@media(max-width:880px){
  .navbar{
    backdrop-filter: none;
  }
  .con .navbar-menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 20px;
    right: 0px;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);

  }
  .con .navbar-menu.active{
    display: flex;
  }
  .navbar-toggle{
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;

  }
  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);

  }
  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

  }

}
@media(max-width: 480px){
  .con {
    padding: 0 1rem;
  }
  .logo{
    font-size: 1.7rem;
  }
  con .navbar-menu li a{
    font-size: 1.2rem;
    padding: 3px 15px;
    
  }
}